.hero_subtitle img{
width: 2.3rem ;
height: 2.3rem;
}
.hero_content h1{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}
.hero_content h1 .highlight{
    color: var(--secondary-color); 
}
.highlight{
    background-color: white;
}
.hero_content p {
    font-size: 1.1rem;
    color: var(--text-color); 
    line-height: 2rem;
}
.hero-img-box img, .hero-img-box video{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
}

.hero_content{
    padding-top: 3.5rem;
}
.hero-img-box{
    padding-top: 2rem;
}


.services_subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name)
}
.services_title {
    font-size: 2.5rem;
    font-weight: 500;

}

.featured_tour-title {
    font-size: 2.3rem;
    font-weight: 500;
}

.experience_content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience_content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter_wrapper {
    margin-top: 2.5rem;
}

.counter_box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter_box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.experience_img img{
width: 90%;
}

.gallery_title {
font-size: 2.3rem;
margin-bottom: 2.5rem;
margin-top: 1rem;
}

.masonry_img {
    transition: .3s;
}

.masonry_img:hover {
    transform: scale(1.1);
}

.testimonial_title {
    font-size: 2.3em;
    margin-top: 1rem;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 999;
  }
  .chat-icon {
    bottom: 20px;
    font-size: 36px;
  }
    